*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	transition: 0.5s;
}
:root{
	--room-title-color: #F7FBFC;
	--room-content-color: #ECF3F5;
}
body{
	font-size: 0;
}
.container{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.rooms{
	width: 400vw;
	height: 100vh;
}
.room{
	width: 100vw;
	height: 100vh;
	font-size: 25px;
	display: inline-flex;
	background-color: #e0e1e2;
}
#room1{
	/*background-color: #233c5b;*/
}
#room2{
	/*background-color: #4b3a36;*/
}
#room3{
	/*background-color: #403733;*/
}
#room4{
	/*background-color: #73695f;*/
}
.roomImg {
	height: 90%;
	width: max(85%,1500px);
	margin: auto;
	background-size: cover;
	background-position: bottom;
}
#room1 .roomImg{
	background-image: url(img2/room1.jpg);
}
#room2 .roomImg{
	background-image: url(img2/room2.jpg);
}
#room3 .roomImg{
	background-image: url(img2/room3.jpg);
}
#room4 .roomImg{
	background-image: url(img2/room4.jpg);
}
.toHome{
	width: 86px;
	height: 86px;
	position: fixed;
	top: 8%;
	left: 9%;
}
.toHome img {
	opacity: 0.6;
	transition: ease-in-out 0.3s;
}
.toHome img:hover {
	opacity: 0.8;

}
.side {
  width: 35%;
  float: right;
  height: 100%;
	display: flex;
}
#room1 .side{
  background: transparent linear-gradient(180deg, rgba(67, 109, 154, 0.53) 0%, rgba(59, 99, 141, 0.74) 100%);	
}
#room2 .side{
	background: transparent linear-gradient(180deg, #B3897F87 0%, #79544BBA 100%);
}
#room3 .side{
	background: transparent linear-gradient(180deg, #433E3C73 0%, #251D1BBA 100%);
}
#room4 .side{
	background: transparent linear-gradient(180deg, #726255A3 0%, #5C5652B8 100%);
}
.content {
  width: 70%;
  height: 80%;
  margin: auto;
}
.content h1{
	color: var(--room-title-color);
	letter-spacing: 0.65px;
	text-shadow: 3px 3px 3px #00000078;
	text-align: center;
	font-size: 55px;
	font-family: Baskerville Old Face, regular;
	line-height: 74px;
}
.content>p {
	font-size: 16px;
	line-height: 40px;
	font-family: Microsoft Tai Le;
	color: var(--room-content-color);
	height: 366px;
	overflow: hidden;
	margin-top: 23%;
}
.content .more {
	width: 250px;
	height: 65px;
	margin: 10% auto;
	
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.16);
	border-radius: 6px;
}
#room1 .more{
	background: rgba(5, 14, 31, 0.41);
}
#room1 .more:hover{
	background: rgba(5, 14, 31, 0.8);
}
#room2 .more{
	background: #1C13114D;
}
#room2 .more:hover{
	background: #1C13118A;
}
#room3 .more{
	background: #48414080;
}
#room3 .more:hover{
	background: #484140d4;
}
#room4 .more{
	background: #55443770;
}
#room4 .more:hover{
	background: #554437c9;
}
.more a{
	text-decoration: none;
}
.more a p {
	font-size: 30px;
	height: 72px;
	line-height: 65px;
	text-align: center;
	font-family: Microsoft Sans Serif,regular;
	color: #FFFFFF;
}
.orderContainer {
    position: fixed;
    bottom: 8%;
    width: 100%;
}
.orders {
	width: 8%;
	display: flex;
	margin: auto;
	justify-content: space-around;
}
.order {
    border: 3px solid #FFFEFEA1;
	background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}
.orderNow{
	  background-color: #FFFFFFE3;
}


@media (max-width: 1830px) {
	.content h1 {				
		font-size: 50px;
	}
}
@media (max-width: 1410px){
	.content h1{
		font-size: 40px;
	}
	.more a p {
		font-size: 25px;
		line-height: 60px;
	}
	.content .more {
		width: 200px;
		height: 60px;
	}
}
@media (max-width: 1200px){
	.roomImg {
		height: 100%;
		width: 100%;
	}
	.side {
		float: unset;
		width: 100%;
		position: relative;
		height: 35%;
		top: 65vh;
	}
	.container {
		overflow: unset;
	}
	.room {
		display: block;
	}
	.rooms {
		width: 100vw;
	}
	.orderContainer {
		display: none;
	}	
	.content > p {
		margin-top: 0;
		height: 60px;
		line-height: 30px;
		text-align: center;
		overflow: -moz-hidden-unscrollable;
		display: block;
	}
	.content {
		height: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
justify-content: space-around;
	}
	.content h1 {
		font-size: 35px;
		line-height: normal;
	}
	.content .more {
		width: 150px;
		height: 50px;
		margin: 0;
	}
	.more a p {
		font-size: 20px;
		line-height: 50px;
		height: 50px;
	}
	.toHome {
		top: 3%;
		left: 6%;
	}
	.toHome img {
		width: 60px;
	}

}